<app-content-header [icon]="" [title]="" [hideBreadcrumb]="false" [hasBgImage]="false" [class]="'pb-4'">
</app-content-header>

<div fxLayout="column" class="p-2">
  <div class="p-2">

    <form [formGroup]="lookupForm" (ngSubmit)="submit()" novalidate="novalidate">
      <mat-card>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-subtitle>
            <h2>إضافة الثوابت</h2>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center">  
           
         
          
              

          <mat-form-field>
              <mat-label> الاسم بالعربية * </mat-label>
            <input matInput formControlName="aname" name="aname" type="text" placeholder="الاسم بالعربية ">
            <mat-error *ngIf="validator.hasErrors(name)"> 
                حقل إجباري
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-label> الاسم بالانجليزية </mat-label>
            <input matInput formControlName="lname" name="lname" type="text" placeholder="الاسم بالانجليزية ">
          </mat-form-field>
          <mat-form-field>
              <mat-label> القيمة </mat-label>
            <input matInput formControlName="value" name="value" type="text" placeholder="القيمة">
          </mat-form-field>
          <mat-form-field>
              <mat-label>   النوع </mat-label>
                  <mat-select  formControlName="typeId" name="typeId" placeholder=" النوع" 
                  [(ngModel)]="typeId" >
                 
                      <mat-option *ngFor="let op of typeList" [value]="op.id">
                       {{op.id}} | {{ op.name }} 
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="validator.hasErrors(name)"> 
                      حقل إجباري
                    </mat-error>
           <!-- <input matInput formControlName="typeId" name="typeId" type="text" placeholder="TypedId">
           -->
          </mat-form-field>
         
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="returnUrl" mat-button>
            رجوع
          </a>
          <button mat-raised-button color="primary" type="submit" >
            
              تخزين
           
            <!-- <loader *ngIf="loading"></loader> -->
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>