<mat-card>
   <mat-card-content>

      <div fxLayoutAlign="center">
         <table>
            <tr>
               <td>
                  <h2> تسديد الاقساط </h2>
               </td>
               <td>
                  <h3>
                  اسم ولي الأمر: 
                  {{this.service.sParentName}}</h3>
               </td> 
            </tr>
         </table>
      </div>
   </mat-card-content>
</mat-card>

<form [formGroup]="PaymentformGroup" (ngSubmit)="submit()" novalidate="novalidate">
   <mat-dialog-content>
      <div fxLayout="column" class="p-2">

            <mat-card>
                  <mat-form-field fxFlex class="mat-select" appearance="outline">
                     <mat-label> الطالب </mat-label>
                     <mat-select matInput  formControlName="studentId" [(ngModel)]="studId" placeholder="الطالب" required
                     (selectionChange)="onStudChange()">
                        <mat-option *ngFor="let op of childrenList" [value]="op.id">
                           {{ op.firstName }}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex appearance="outline">
                        <mat-label> القسم </mat-label>
                        <input matInput  formControlName="sectionId" readonly [(ngModel)]="sectionName" type="text" placeholder="  القسم">
                  </mat-form-field>  
                  <mat-form-field fxFlex appearance="outline">
                     <mat-label> الصف </mat-label>
                     <input matInput  formControlName="sectionId2" readonly [(ngModel)]="className" type="text" placeholder="  الصف">
               </mat-form-field>  
               <mat-form-field fxFlex appearance="outline">
                  <mat-label> الشعبة </mat-label>
                  <input matInput  formControlName="sectionId3" readonly [(ngModel)]="classSeqName" type="text" placeholder="  الشعبة">
            </mat-form-field>  

               </mat-card>
      </div>

      <div fxLayout="column" class="p-2">    
      <mat-card>
         <mat-form-field fxFlex class="mat-select" appearance="outline">
  <mat-label>  نوع القبض </mat-label>
  <mat-select matInput formControlName="finItemId" placeholder="   نوع القبض  "   required>
     <mat-option>                     
     </mat-option>
     <mat-option *ngFor="let op of finItemList" [value]="op.id">
        {{ op.arDesc }}
     </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field fxFlex color="accent" appearance="outline" readonly>
   <mat-label>رقم الفاتورة</mat-label>
   <input matInput formControlName="finItemVoucherSequence" type="text" placeholder="  رقم الفاتورة ">
</mat-form-field>
<mat-form-field fxFlex color="accent" appearance="outline">
   <mat-label> المبلغ  </mat-label>
   <input matInput formControlName="credit" type="text" placeholder="  المبلغ    ">
</mat-form-field>
</mat-card>
<mat-card>
   <mat-form-field fxFlex color="accent" appearance="outline">
      <mat-label> طريقة القبض </mat-label>
      <mat-select matInput formControlName="paymentMethodId" placeholder="   طريقة القبض" required
         [(ngModel)]="optionValue">
         <mat-option *ngFor="let op of PaymentMethodList" [value]="op.id">
            {{op.id}} | {{op.aname}}
         </mat-option>
      </mat-select>
   </mat-form-field>
   <mat-form-field fxFlex color="accent" appearance="outline">
      <mat-label> التاريخ</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="voucherDate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
</mat-card>
      </div>
            <div fxLayout="column" class="p-2">
         <div>
            <ng-container *ngIf="optionValue == '1203'">
               <mat-card>
                  <mat-form-field fxFlex color="accent" appearance="outline">
                     <mat-label> رقم الحوالة </mat-label>
                     <input matInput formControlName="transferNo" type="text" placeholder="  رقم الحوالة     ">
                  </mat-form-field>

                  <mat-form-field fxFlex color="accent" appearance="outline">
                     <mat-label> تاريخ الحوالة </mat-label>
                     <input matInput [matDatepicker]="picker1" formControlName="transferDate"
                        placeholder="  تاريخ الحوالة     ">
                     <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                     <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

               </mat-card>
            </ng-container>

            <ng-container *ngIf="optionValue == '1202'">
               <mat-card>
                  <mat-form-field fxFlex color="accent" appearance="outline">
                     <mat-label> رقم البطاقة </mat-label>
                     <input matInput formControlName="visaCardNo" type="text" placeholder="  رقم البطاقة     ">
                  </mat-form-field>

               </mat-card>
            </ng-container>
         </div>


      </div>
   </mat-dialog-content>



   <mat-dialog-actions>
      <button mat-raised-button tabindex="-1" color="warn" (click)="closeDialog()">
         عودة
      </button>
      <button [type]="submit" mat-raised-button color="primary" (click)="submitPayment()">
         تخزين
      </button>
   </mat-dialog-actions>
</form>

