  <!-- <ng-container>{{checkCalls()}}</ng-container> -->
<!---->

 <div *ngFor="let src of imageToView">
  <img [src]="src"    [@slideAnimation] alt="">
 </div>
 
<ng-container *ngIf="imagesScanned?.length >0">
  <h1>
    Local files
  </h1>
  <div class="scanned-list">
    <img *ngFor="let img of imagesScanned" [src]="getImageSrc(img)" alt="" (click)="this.selectedImg = img">
  </div>

</ng-container>


<div class="active-scanned" *ngIf="selectedImg != null">
  <div class="bg" (click)="selectedImg = null"></div>

  <img [src]="getImageSrc(selectedImg)" *ngIf="selectedImg != null" class="viewer" [@slideAnimation] alt="">
  <!--<pdf-viewer *ngIf="selectedImg != null" [@slideAnimation] [src]="getImageSrc(selectedImg)"-->
  <!--[render-text]="true"-->
  <!--[autoresize]="true"-->
  <!--class="viewer"></pdf-viewer>-->

</div>



